*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f2f2f2;
}


body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    max-width: 90%;
    width: 400px;
    margin: 80px auto;
}

.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 15px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

#tablaDatos, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#tablaDatos{
    align-self: center;
}

#cabezaTabla{
    background-color: rgb(252, 51, 51);
}
